<br>
<br><br>
<br>

<div class="container">
    <div class="bname">
    <table class="table table-success table-striped" id="userLisid">
        <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
             
            </tr>
          </thead>
          <tbody>
           <% for (var i=0; i<user.length;i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= user[i].Username %></td>
                <td><%= user[i].Email %></td>

                <td>
                <% if(user[i].state=="active") { %>
                <a class="btn btn-danger" onclick="userBlock('<%= user[i]._id %>')">Block</a>
                  <% } else { %>
                <a class="btn btn-success" onclick="userUnblock('<%= user[i]._id %>')">Unblock</a>
              <% } %>
            </td>
              </tr>
            <% } %>
          </tbody>
      </table>
    </div>
</div>



<script>
  function userBlock(userId){
    fetch('/admin/usermanagement/block',{
      method:'post',
      headers:{
        'Content-Type':'application/json'   
      },
      body:JSON.stringify({userId})
    }).then(()=>{
      window.location.reload()
    }).catch((error)=>{
      console.error("error",error);
    })
  }

  function userUnblock(userId){
    fetch('/admin/usermanagement/unblock',{
      method:'post',
      headers:{'Content-Type':'application/json'},
      body:JSON.stringify({userId})
    }).then(()=>{
      window.location.reload()
    }).catch((error)=>{
      console.error("error",error);
    })
  }

  $(document).ready(function () {
    $('#userLisid').DataTable();
});
</script>