<!-- <div class="container">
	<div class="row">	
		
				<% for (var i= 0 ; i<catProducts.length ;  i++) { %>
		<div class="card" style="width: 18rem; border: 1px ;border:1px solid black; border-radius: 2rem; padding: 1rem; margin-right: 3rem;    margin-bottom: 3rem;";>
			
			
			<div   class=" d-md-flex justify-content-md-end"></div>
			<img src="/images/<%= catProducts[i].picture %>" class="card-img-top" style="width:13rem ; height:13rem;" alt="...">
				<div class="card-body">
			  
			  <button  class="btn btn-primary">Add to cart</button><span><i class=" btn btn-danger fa-solid fa-heart ml-2 " ></i></span>
			</div>
			
		  </div>
		  <% } %>
		

	
	</div>
</div> -->


<div class="container-fluid pt-5">
	
	<div class="row px-xl-5 pb-3">

		<!--------------------------------->

		<% for(var i=0;i<catProducts.length;i++) { %>
		


		<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
			<div class="card product-item border-0 mb-4">
				<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
					<img class="img-fluid w-100" src="<%= catProducts[i].picture %>" style="width: 20rem;height:20rem;" alt="image not found">
				</div>
				<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
					<h6 class="text-truncate mb-3"><%= catProducts[i].productName %></h6>
					<div class="d-flex justify-content-center">
						<h6>₹<%= catProducts[i].sellingPrice %></h6><h6 class="text-muted ml-2"><del>₹<%= catProducts[i].actualPrice %></del></h6>
					</div>
				</div>
				<% if(userData) { %>
				<div class="card-footer d-flex justify-content-between bg-light border">
					<a href="/viewProductDetailsPage?id=<%= catProducts[i]._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					<a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
				</div>
				<% } else { %>
					<div class="card-footer d-flex justify-content-between bg-light border">
						<a href="/viewProductDetailsPage?id=<%= catProducts[i]._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
						
					</div>
					<% } %>

			</div>
		</div>
		
		<% } %>
