
<div class="container">
<table class="table" style="border: 1px solid black; margin-top: 2%;">
    <thead class="bg-warning">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Address</th>
        <!-- <th scope="col">Pincode</th>
        <th scope="col">Mobile</th> -->
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

        <% for(i=0;i<orders.length;i++) { %>
      <tr>
        <td><%let V=orders[i].date.toLocaleString()%><%=V%></td>
        <td><%= orders[i].deliveryDetails.name %>,<br>
          <%= orders[i].deliveryDetails.address %>,<br>
        <%= orders[i].deliveryDetails.pincode %>,<br>
        <%= orders[i].deliveryDetails.mobile %></td>
        <td><%= orders[i].totalAmount %></td>
        <td><%= orders[i].paymentMethod %></td>
        <td><%= orders[i].status %></td>
        <td>
            <a href="/view-order-product?id=<%=orders[i]._id %>" class="btn btn-primary">View Products</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>