
<div class="container"> 

<table class="table">
    <thead>
      <tr>
        <th scope="col">SLNO.</th>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Add to cart</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
       <% for(var i=0;i<products.length;i++) {%>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%=products[i].product.productName %></td>
        <td><img src="/images/<%=products[i].product.picture %>" style="width: 4em; height:4em;"></td>
        <td>Rs:<%=products[i].product.sellingPrice %></td>
        <td><button onclick="addToCarfromwish('<%=products[i].item%>')" class="btn btn-sm btn-primary">ADD TO CART</button></td>
        <td><button onclick="DeleteFromWishlist('<%=products[i].item%>')" class="btn btn-sm btn-primary">X</button></td>
        
      </tr>
   
      <% } %>
    </tbody>
  </table>
</div>

<script>
  function addToCarfromwish(proId){
    swal({
  title: "Good job!",
  text: "Item Added To Cart!",
  icon: "success",
});
$.ajax({

  url:'/add-to-cart/'+proId,

  method:'get',
  success:(response)=>{

       if(response.status){
          let count = $('#cart-count').html()
          count = parseInt(count)+1
          $('#cart-count').html(count)
      }
  
  }
})

}

function DeleteFromWishlist(proId){
  swal({
    title:"DELETE",
    text:"Do you want to delete the item",
    icon:'warning',
    buttons:["Cancel","OK"]
  }).then(val=>{
    if(val){
      fetch('/deletefromwishlist',{
    method:'delete',
    headers:{
      'Content-Type':'application/JSON'
    },
    body:JSON.stringify({
      proId
    })
  }).then(()=>{
    window.location.reload()
  })
    }
  })
  
}
</script>